<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494514527970-2nfsejlpj9vlqgu6simcpm1pjp0vmurr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494514527970-2nfsejlpj9vlqgu6simcpm1pjp0vmurr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>494514527970-79s26kivcsvafb6jronhrlquejt6k373.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_C3KK6TDXZ5crJjuGGd4Cl9oO40MCBlc</string>
	<key>GCM_SENDER_ID</key>
	<string>494514527970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.knockdog.petcampus</string>
	<key>PROJECT_ID</key>
	<string>petcampus-ff26f</string>
	<key>STORAGE_BUCKET</key>
	<string>petcampus-ff26f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494514527970:ios:89abe0f18120e1ab0c48bb</string>
</dict>
</plist>